/*
  左右两边滑动菜单
 * */

$topBottomTab-bg:rgb(238,242,245);
//左侧菜单组件
.topBottomTab-menu {
    position: fixed;
    left: 0;
    z-index: 9999;
    width: 100%;
    background: $topBottomTab-bg;
  
}

//左侧菜单组件标题
.topBottomTab-menu-ttl {
    height: 100%;
    padding: 0;
    overflow-y: scroll;
    ul {
        margin: 0;
        padding: 0;
       
        li {
             
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 12px 5px ;
                color: #666;
                font-size: 14px;
                text-align: center;
                background: $topBottomTab-bg;
            }
            //选择样式
            &.active a {
                background: #fff;
                color: darken( $text-danger,5%);
                border-left:  2px solid darken( $text-danger,5%);
            }
            
            &+li{
                border-top:1px solid $text-ash-2;
            }
        }
    }
}

//左侧菜单组件内容
.topBottomTab-menu-content {
    height: 100%;
    padding: 10px;
    background: #f0f0f0;
    overflow-y: scroll;
}

