/*
  左右两边滑动菜单
 * */

$topBottomTab-bg:rgb(238, 242, 245);
//左侧菜单组件
.topBottomTab-menu {}

//左侧菜单组件标题
.topBottomTab-menu-ttl {
    position: fixed;
    left: 0;
    z-index: 9;
    width: 20%;
    height: 100%;
    padding: 0;
    background: $topBottomTab-bg;
    ul {
        margin: 0;
        padding: 0;
        li {
            a {
                display: block;
                width: 100%;
                height: 100%;
                padding: 12px 3px;
                color: #666;
                font-size: 14px;
                text-align: center;
                background: $topBottomTab-bg;
            }
            //选择样式
            &.active a {
                background: #fff;
                color: darken( $text-danger, 5%);
                border-left: 2px solid darken( $text-danger, 5%);
                box-sizing: border-box;
            }
            &+li {
                border-top: 1px solid $text-ash-2;
            }
        }
    }
}

//左侧菜单组件内容
.topBottomTab-menu-content {
    position: relative;
    left: 20%;
    height: 100%;
    z-index: 2;
    padding: 10px 0;
    padding-bottom: 50px;
    background: #f0f0f0;
}