
// 上拉加载
.load-pullToRefresh{
    
    position: absolute;
    top:30%;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    font-size: 16px;
    color:#999;
}
.load-pullToRefresh .iconfont{
    
    margin-right: 2px;
    color:#999;
}

 // 圆点
 .mui-slider-indicator {
        .mui-indicator {
            background: #ccc;
            box-shadow: none;
            &.mui-active {
                background: $text-primary;
            }
            &+.mui-indicator {
                margin-left: 1px;
            }
        }
    }
    

// 人民币

.icon-renminbi{
    position: relative;
    top:3px;
    margin-right: -5px;
    margin-left: -5px;
}



