/*footer*/

.footer.mui-bar-tab {
   
    padding:  3px 0;
    .mui-tab-item {
        .iconfont{
            font-size: 20px;
        }
        .icon-shopping{
            position: relative;
            font-size: 26px;
        }
        // tab-label
        .mui-tab-label {
            position: relative;
            margin-top: 5px;
            font-size: 14px;
        }
    }
}


// content

.footer + .mui-content {
  padding-bottom: 60px;  
}


// 购物车图标
.shopcar{
    position: absolute;
     top: -2px;
    right: -18px;
    display: block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    color:#fff;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
   
    background: $text-danger;
}
