/*head*/

// 首页
.head.mui-bar {
    // background: rgba(0,0,0,0.2);
    // 菜单图标 
    .mui-icon-bars {
        color: #fff;
    }
    // input
    .mui-title input {
        position: relative;
        top:0;
        font-size: 14px;
        color: $text-default;
        background: #fff;
    }
    // 右边的按钮
    .head-right-btn {
        position: absolute;
        right: 3px;
        top: 12px;
        font-size: 16px;
        color: #fff;
         &:active{
           color: $text-danger;
       }
    }
    // mui-active 上拉的
    &.mui-active {
        // 菜单图标 
         .login-link,
        .head-right-btn {
            color: $text-default;
        }
    }
    
    .mui-action-back:active {
        
       color:$text-warning;
    }
    
    // 登陆链接
    .login-link{
        position: absolute;
        top:14px;
        left: 10px;
        z-index: 2;
       font-size: 18px;
       color:#fff;
       
       &:active{
           color: $text-danger;
       }

    }
}


// 返回 头部
.child-head{
    
    .mui-icon.iconfont{
        color:$text-back;
    } 
    
    .child-right-btn{
        
        position: absolute;
        right: 10px;
    }
    
}

.iconfont.icon-back{
     color:$text-back;
}
