/*
 addr 收货地址
 * */

.addr {
    margin-top: 10px !important;
}

.addr-item {
    position: relative;
    ul {
        margin: 0;
        padding: 10px 10px 10px 15px;
        background: #fff;
        .default {
            font-size: 14px;
        }
        li+li {
            margin-top: 10px;
        }
    }
    // 右边icon
    >.editaddr-btn {
        position: absolute;
        top: 40px;
        right: 15px;
        z-index: 9;
        font-size: 28px;
        color:$text-label;
        
        &:active{
            color:$text-danger;
        }
    }
}

// addr-head-link
.addr-head-link{
    
    position: absolute;
    right: 10px;
    top:11px;
    z-index: 2;
    font-size: 18px;
    
    &:active{
        color:$text-danger;
    }
}
