/**
 *     
 *商品批量购买 
 * **/

//batch-head
.batch-head{
   box-shadow: none;
   border-bottom: 1px solid $text-ash-2;
}

// 搜索框 batch-search
.batch-search {
    position: fixed;
    top: 44px;
    left: 0;
    z-index: 3;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid $text-ash-2;
    box-shadow:  2px 0 5px #ddd;
    background: #fff;
    .search input,
    .select select,
    a {
        float: left;
        display: inline-block;
        margin-bottom: 0;
        border-radius: 0;
    }
    .search {
        padding: 0 5px;
        input {
            height: 34px;
            padding: 13px 15px;
            font-size: 14px;
            color: $text-777;
            border: 1px solid #ddd;
        }
    }
    .select {
        position: relative;
        padding: 0 5px;
        select {
            position: absolute;
            top: -1px;
            height: 34px;
            padding: 0;
            line-height: 34px;
           text-indent: 10px;
            font-size: 14px;
            color: $text-777;
            border: 1px solid #ddd !important;
        }
        option{
            display: inline-block;
            padding-left: 10px;
       
        }
    }
    .btn {
        a {
            display: block;
            margin-left: 10px;
            height: 34px;
            line-height: 34px;
            font-size: 16px;
            color: $text-999;
            &:active {
                color: $text-danger;
            }
        }
    }
}

// 计算购物车
.batch-select {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #ddd;
    background: #fff;
    // checkbox
    .check-big {
        position: relative;
        height: 50px;
        line-height: 50px;
        .check-all {
            margin-top: 13px;
            padding-left: 10px;
            font-size: 24px;
            &.icon-checknormal {
                color: #ddd;
            }
            &.icon-xuanzhongduigou {
                color: $text-danger;
            }
        }
        label {
            margin-left: 3px;
            position: relative;
            top: -4px;
            color: $text-777;
        }
    }
    // 计算单价部分  
    .js {
        padding-top: 5px;
        p {
            margin-bottom: 0;
        }
    }
    // 结算btn
    .btn {
        //  width: ;
        height: 50px;
        width: 80px;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        background: darken( $text-danger, 5%);
        color: #fff;
        &:active {
            background: darken( $text-danger, 10%);
        }
    }
    
 
    
}

 .batch .shop-cont {
    margin-top: 5px;
}

// 内容的padding-bottom
.mui-bar-nav~.batch.mui-content {
    padding-bottom: 50px;
    padding-top: 99px;
}
