
@import "head.scss";                          // 头部

@import "footer.scss";                         // 尾部

@import "index.scss";                           // 首页   

@import "jingpin.scss";                           // 精品推荐

@import "prodlist.scss";                           // 商品列表